.boxfix{
    padding: 15px 0;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #777;
    background-color: rgb(228, 228, 228);
    width: 960px;
    font-size: 18px;
    margin: 7px 0px
    }

    .h1_p{
        padding: 7px 0;
        border: 1px solid rgb(0, 0, 0);
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        color: #777;
        background-color: rgb(228, 228, 228);
        width: 960px;
        font-size: 18px;


    }